/* Títulos */
.contenido-principal > h1 {
    color: #a78bfa;
    font-size: 2.4rem;
    text-align: center;
    margin-top: 10px;
}

.contenido-principal > h2 {
    color: #b3a5cc;
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
    margin-bottom: 25px;
}

/*Sobre la marca*/
.sobre-marca {
    background-color: #1c1527;
    border: 1px solid #3b2a52;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 25px;
}

.sobre-marca h2 {
    color: #f1edfa;
    font-size: 1.4rem;
    margin-bottom: 10px;
    border-bottom: 1px solid #3b2a52;
    padding-bottom: 8px;
}

.sobre-marca p {
    color: #b3a5cc;
    line-height: 1.6;
    font-size: 1rem;
}

/*Productos destacados */
.productos-destacados {
    background-color: #1c1527;
    border: 1px solid #3b2a52;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.productos-destacados h2 {
    color: #f1edfa;
    font-size: 1.4rem;
    border-bottom: 1px solid #3b2a52;
    padding-bottom: 8px;
    margin-bottom: 5px;
}

/* Producto */
.producto {
    background-color: #261c35;
    border: 1px solid #3b2a52;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

.producto img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.producto p {
    color: #a78bfa;
    font-weight: bold;
}

/*Escritorio*/
@media (min-width: 600px) {
    .productos-destacados {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .productos-destacados h2 {
        width: 100%; /* Mantiene el título arriba ocupando todo el ancho */
    }

    .producto {
        width: 31%; /* Muestra los 3 productos uno al lado del otro */
        box-sizing: border-box;
    }
}